</div>

<footer>
    <p>Следите за нами в социальных сетях и будьте в курсе новостей!</p>
    <p>© <span x-data="{ year: new Date().getFullYear() }" x-text="year"></span> Мешает.рф. Все права защищены.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    integrity="sha256-NY2a+7GrW++i9IBhowd25bzXcH9BCmBrqYX5i8OxwDQ=" crossorigin="anonymous"></script>

</body>

</html>