<%- include('partials/header', { context: {} }) %>

    <section class="hero">
        <h1>Мы скоро запускаемся!</h1>
        <p class="description">Считайте QR, чтобы вызвать водителя мешающего авто!</p>
        <div class="countdown">
            <h2>До запуска осталось:</h2>
            <div id="timer">
                <span id="days">00</span> дней
                <span id="hours">00</span> часов
                <span id="minutes">00</span> минут
                <span id="seconds">00</span> секунд
            </div>
        </div>
        <% if (context.success) { %>
            <div class="success-message" style="margin-top: 20px; color: green;">
                Спасибо за подписку! Вы первым узнаете о запуске проекта.
            </div>
        <% } else { %>
            <form method="post" action="/subscribe" class="subscribe">
                <input type="email" name="email" id="email" value="<%= context.email %>" placeholder="привет@мешает.рф" required>
                <button type="submit">Узнать первым!</button>
            </form>
            <% if (context.error) { %>
                <div class="error-message" style="margin-top: 20px; color: red;"><%- context.error %></div>
            <% } %>
        <% } %>        
    </section>

    <script lang="javascript">
        const launchDate = new Date('December 1, 2024 00:00:00').getTime();

        const tick = () => {
            // Текущее время
            const now = new Date().getTime();

            // Разница между текущим временем и временем запуска
            const timeLeft = launchDate - now;

            // Расчет дней, часов, минут и секунд
            const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

            // Отображение результатов в соответствующих элементах
            document.getElementById('days').textContent = days.toString().padStart(2, '0');
            document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
            document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
            document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');

            // Остановка таймера, если время закончилось
            if (timeLeft < 0) {
                clearInterval(countdown);
                document.getElementById('timer').innerHTML = "Запуск состоялся!";
            }
        };

        // Функция для обновления таймера каждую секунду
        const countdown = setInterval(() => {
            tick();
        }, 1000);

        window.onload = function () {
            tick();
        };
    </script>

<%- include('partials/footer', { context: {} }) %>
