<%- include('partials/header', { context: {} }) %>

    <section class="hero">
        <h1>Отписка от новостей</h1>
        <p>Введите ваш e-mail, чтобы отписаться от рассылки:</p>

        <div class="subscribe" id="subscribe">
            <%- include('partials/forms/unsubscribe', { context: {} }) %>
        </div>
    </section>

    <%- include('partials/footer', { context: {} }) %>