<% if (context.success) { %>
    <div class="success-message" style="margin-top: 20px; color: green;">
        Вы отписаны от новостей.
    </div>
<% } else { %>
    <form id="subscribeForm" hx-post="/unsubscribe" hx-target="#subscribe">
        <input type="email" name="email" id="email" value="<%= context.email %>" placeholder="hello@carqr.link" required>
        <button type="submit">Отписаться</button>
    </form>
    <% if (context.error) { %>
        <div class="error-message" style="margin-top: 20px; color: red;"><%- context.error %></div>
    <% } %>
<% } %>
